<article class='jumbotron mt-3 mb-3'
         [ngClass]="{
                      'list-group-item': true,
                      'list-group-item-success': post.love_score > 0,
                      'list-group-item-danger': post.love_score < 0
                    }">
  <h4 class='display-5'> {{ post.title }}</h4>
  <p class='text-secondary'> {{ post.created_at | date:'short' }} </p>
  <p> {{ post.content }} </p>
  <div class="btn-group">
    <button class='btn btn-secondary' (click)='onLoveIt(1)'>Oh ! J'aime ça !!</button>
    <button class='btn btn-secondary'  (click)='onLoveIt(-1)'>C'est nul</button>
    <button class='btn btn-secondary' (click)='onDeletePost(post.id)' >Supprimer</button>
  </div>
</article>

