<div class="container mt-5">
  <form [formGroup]="postForm" (ngSubmit)="onSubmitPostForm()">
    <div class="form-group">
      <label for="postTitle"> Title </label>
      <input type="text" id="postTitle" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label for="postContent"> Contenu </label>
      <input type="text" id="postContent" class="form-control" formControlName="content">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="postForm.invalid"> Soumettre </button>
  </form>
</div>
