<nav class="container">
  <ul class='nav nav-pills nav-fill'>
    <a class='nav-item nav-link mg-2 mr-2'
       routerLink='/posts'
       routerLinkActive = "active"
       [routerLinkActiveOptions]="{exact:true}">Liste des articles</a>
    <a class='nav-item nav-link mg-2 mr-2'
       routerLink='/posts/add'
       routerLinkActive = "active"
       [routerLinkActiveOptions]="{exact:true}">Ecrire un article</a>
  </ul>
</nav>
